body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

p {
    margin: 0;
    padding: 0;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.image-comparison {
    margin-bottom: 40px;
}

.images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.images img {
    width: 48%;
    height: auto;
    max-height: 70vh;
    border-radius: 0px;
    object-fit: contain;
}

.image-names {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-names span {
    width: 48%;
    text-align: center;
    font-size: 14px;
    color: #66666683;
    background-color: #ffffff;
    border-radius: 15px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.05s;
    width: 48%;
    border: 2px solid #000000;
    color: #000000;
    background-color: #ffffff;
}

button:hover {
    background-color: #000000;
    transform: scale(1.02);
    transform: translateY(-3px);
    box-shadow: 0 3px 5px #00000086;
    color: white;
}

button:active {
    transform: scale(0.98);
}

.rankings {
    margin-top: 40px;
}

#rankingsList {
    list-style-type: none;
    padding: 0;
}

#rankingsList li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #f7f7f7;
    border: 0px solid #000000;
    border-radius: 5px;
    padding: 5px 15px;
    justify-content: space-between;
}

#rankingsList img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.rank {
    font-weight: bold;
    margin-right: 10px;
    width: 30px;
}

.elo {
    margin-left: auto;
    margin-right: 20px;
}

.count {
    width: 50px;
    text-align: right;
}

.votes {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.upvotes, .downvotes {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 14px;
}

.material-icons {
    font-size: 18px;
    margin-right: 2px;
    color: #000000; /* Grey color for the icons */
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

#progress-fill {
    height: 100%;
    background-color: #000000;
    width: 0;
    transition: width 0.5s ease-in-out;
}

#progress-text {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.select-directory-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 220px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.05s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-directory-btn:hover .material-icons {
    color: white;
}

.select-directory-btn:active {
    transform: scale(0.98);
}

.export-rankings-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 220px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.05s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.export-rankings-btn:hover .material-icons {
    color: white;
}

.export-rankings-btn:hover {
    background-color: #000000;
    transform: scale(1.02);
}

.export-rankings-btn:active {
    transform: scale(0.98);
}

.footer {
    background-color: #f8f8f8;
    padding: 30px 0;
    margin-top: 50px;
    border-top: 1px solid #e7e7e7;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #333;
}

.footer p {
    margin-bottom: 0px;
    line-height: 1.5;
    opacity: 0.5;
}

.footer a {
    color: #000000;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #004080;
    text-decoration: underline;
    text-shadow: 0 0 5px #000000;
}

.footer-links {
    margin-top: 20px;
}

.footer-links a {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #0066cc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.footer-links a:hover {
    background-color: #0066cc;
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer-links a {
        display: block;
        margin: 10px auto;
        max-width: 200px;
    }
}
